node_modules
.turbo
.next
out
dist
coverage
.source
*.tsbuildinfo
next-env.d.ts
.DS_Store
*.pem
.env*
!.env.example
.vercel
npm-debug.log*
pnpm-debug.log*
apps/web/public/r
apps/web/public/icons.json
.pack
